* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #ff758c, #ff7eb3);

    color: #333;

    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;

    text-align: center;
}

.heart {
    font-size: 60px;

    animation: bater 1s infinite;
}

h1 {
    color: white;
    font-size: 42px;
    margin: 10px 0;
}

.subtitle {
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

.card {
    background: white;

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    text-align: left;
}

.card h2 {
    color: #e63964;
    text-align: center;
    margin-bottom: 20px;
}

.card p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.final-message {
    text-align: center;
    font-weight: bold;
    color: #e63964;
    font-size: 20px;
}

button {
    margin-top: 25px;

    padding: 15px 30px;

    border: none;
    border-radius: 30px;

    background: white;
    color: #e63964;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

#mensagem {
    margin-top: 20px;

    color: white;

    font-size: 20px;
    font-weight: bold;
}

@keyframes bater {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}

.contador {
    margin-top: 25px;
    text-align: center;
}

.tempo {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}

.tempo div {
    background: #ffe5ec;
    padding: 12px;
    border-radius: 12px;
    min-width: 65px;
}

.tempo span {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #e63964;
}

.tempo small {
    color: #555;
}

.surpresa {
    display: none;
    margin-top: 25px;
    animation: aparecer 1s ease;
}

.surpresa img {
    width: 100%;
    max-width: 350px;
    border-radius: 100px;

    box-shadow: 2px 10px 30px rgba(224, 14, 196, 0.753);
}

.surpresa p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

@keyframes aparecer {

    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

.audio-box {
    display: none;
    margin-top: 20px;
    animation: aparecer 0.8s ease;
}

.audio-box p {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.audio-box audio {
    width: 100%;
    max-width: 350px;
}

#telaSenha {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #ff758c, #ff7eb3);

    z-index: 9999;
}

.caixa-senha {
    background: white;
    padding: 35px;
    border-radius: 20px;

    width: 90%;
    max-width: 350px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.coracao {
    font-size: 50px;
    margin-bottom: 10px;
}

.caixa-senha h1 {
    color: #e63964;
    font-size: 25px;
}

.caixa-senha p {
    color: #555;
}

.caixa-senha input {
    width: 90%;
    padding: 12px;

    border: 2px solid #ffb3c1;
    border-radius: 10px;

    margin: 15px 0;

    font-size: 16px;
}

.caixa-senha button {
    padding: 12px 25px;

    border: none;
    border-radius: 10px;

    background: #e63964;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

#erro {
    color: #e63964;
    font-weight: bold;
    margin-top: 15px;
}

.voltar {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.voltar button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background: white;
    color: #e63964;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.voltar button:hover {
    transform: scale(1.03);
}

.campo-senha {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 15px auto;
    border: 2px solid #ffb3c1;
    border-radius: 10px;
    background: white;
    padding: 0 10px;
}

.icone-cadeado {
    font-size: 20px;
    margin-right: 8px;
}

.campo-senha input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 5px;
    font-size: 16px;
    margin: 0;
}

.botao-senha {
    background: none !important;
    border: none !important;
    color: #e63964 !important;
    padding: 5px !important;
    margin: 0 !important;
    font-size: 22px !important;
    cursor: pointer;
    box-shadow: none !important;
}

.botao-senha:hover {
    transform: none !important;
    background: none !important;
}

.tela-quiz {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #ff758c, #ff7eb3);

    z-index: 9998;

    overflow-y: auto;
}

.caixa-quiz {
    background: white;
    padding: 35px;
    border-radius: 20px;

    width: 90%;
    max-width: 400px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.caixa-quiz h1 {
    color: #e63964;
    font-size: 27px;
}

.caixa-quiz p {
    color: #555;
}

.pergunta {
    display: none;
    margin-top: 25px;
}

.pergunta h2 {
    color: #e63964;
    font-size: 20px;
    margin-bottom: 20px;
}

.pergunta button {
    display: block;

    width: 100%;

    margin: 10px 0;

    padding: 13px;

    border: 2px solid #ffb3c1;
    border-radius: 12px;

    background: #ffe5ec;
    color: #e63964;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.pergunta button:hover {
    background: #ffb3c1;
    transform: scale(1.02);
}

#resultadoQuiz {
    color: #e63964;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.botao-voltar {
    background: rgb(214, 9, 9) !important;
    color: #ddd6d8 !important;
    border: 2px solid #ffb3c1 !important;
    margin-top: 18px !important;
}

.botao-voltar:hover {
    background: #a03753 !important;
}

/* ============================= */
/* BOTÃO ESTATÍSTICAS */
/* ============================= */

.botao-estatisticas {
    margin-top: 20px;
    padding: 13px 22px;

    border: none;
    border-radius: 12px;

    background: white;
    color: #e63964;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

    transition: 0.2s;
}

.botao-estatisticas:hover {
    transform: scale(1.05);
}


/* ============================= */
/* PAINEL */
/* ============================= */

.painel-estatisticas {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    display: none;

    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.55);

    z-index: 10000;

    overflow-y: auto;
}


/* ============================= */
/* CAIXA */
/* ============================= */

.caixa-estatisticas {

    position: relative;

    background: white;

    width: 90%;
    max-width: 420px;

    max-height: 90vh;

    overflow-y: auto;

    padding: 30px;

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 15px 40px rgba(0,0,0,0.3);

    animation: aparecerEstatisticas 0.4s ease;
}


@keyframes aparecerEstatisticas {

    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}


/* ============================= */
/* FECHAR */
/* ============================= */

.fechar-estatisticas {

    position: absolute;

    top: 1px;
    right: 15px;

    width: 20px;
    height: 4pc;

    border: none;



    color: #e63964;

    font-size: 20px;

    cursor: pointer;
}


/* ============================= */
/* TÍTULO */
/* ============================= */

.icone-estatisticas {

    font-size: 50px;

    margin-bottom: 5px;
}


.caixa-estatisticas h1 {

    color: #e63964;

    font-size: 26px;

    margin: 5px 0;
}


.subtitulo-estatisticas {

    color: #777;

    margin-bottom: 25px;
}


/* ============================= */
/* ESTATÍSTICA */
/* ============================= */

.estatistica {

    display: flex;

    align-items: center;

    gap: 15px;

    background: #ffe5ec;

    padding: 15px;

    border-radius: 15px;

    margin-bottom: 12px;

    text-align: left;

    transition: 0.2s;
}


.estatistica:hover {

    transform: scale(1.02);

}


.icone-stat {

    font-size: 32px;

    min-width: 45px;

    text-align: center;
}


.info-stat {

    display: flex;

    flex-direction: column;
}


.info-stat span {

    color: #e63964;

    font-size: 25px;

    font-weight: bold;
}


.info-stat small {

    color: #555;

    font-size: 14px;
}


/* ============================= */
/* BOTÕES */
/* ============================= */

.botao-editar-stats,
.botao-adicionar-stat,
.botao-salvar-stats {

    width: 100%;

    padding: 13px;

    border: none;

    border-radius: 12px;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    margin-top: 10px;
}


.botao-editar-stats {

    background: #e63964;

    color: white;
}


.botao-adicionar-stat {

    background: #ffe5ec;

    color: #e63964;

    border: 2px solid #ffb3c1;
}


.botao-salvar-stats {

    background: #e63964;

    color: white;
}


.botao-calendario {
    margin-top: 15px;
    padding: 13px 22px;
    border: none;
    border-radius: 12px;
    background: white;
    color: #e63964;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.2s;
}

.botao-calendario:hover {
    transform: scale(1.05);
}

.painel-calendario {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.55);

    z-index: 10000;
    overflow-y: auto;
}

.caixa-calendario {
    position: relative;

    background: white;

    width: 90%;
    max-width: 420px;

    max-height: 90vh;
    overflow-y: auto;

    padding: 30px;

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 15px 40px rgba(0,0,0,0.3);

    animation: aparecerCalendario 0.4s ease;
}

@keyframes aparecerCalendario {

    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

.fechar-calendario {
    position: absolute;

    top: 15px;
    right: 15px;

    width: 35px;
    height: 35px;

    border: none;
    border-radius: 50%;

    
    color: #e63964;

    font-size: 18px;

    cursor: pointer;
}

.icone-calendario {
    font-size: 50px;
    margin-bottom: 5px;
}

.caixa-calendario h1 {
    color: #e63964;
    font-size: 26px;
    margin: 5px 0;
}

.subtitulo-calendario {
    color: #777;
    margin-bottom: 25px;
}

.momento {
    background: #ffe5ec;

    padding: 15px;

    border-radius: 15px;

    margin-bottom: 12px;

    text-align: left;

    transition: 0.2s;
}

.momento:hover {
    transform: scale(1.02);
}

.momento-data {
    color: #e63964;
    font-size: 14px;
    font-weight: bold;
}

.momento-titulo {
    color: #e63964;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.momento-descricao {
    color: #555;
    font-size: 14px;
    margin-top: 5px;
}